.navigation {
    @extend %mixin-card;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;

    @media (min-width: 530px) {
        margin-bottom: 0;
      }

    @media (min-width: 620px) {
        padding: 0;
        margin-right: 0;
      }
}

.navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation__item {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid #f5f5f5;
    color: rgb(128, 128, 128);
    transition: 0.2s color ease-in;
    
    &:last-child {
        border-bottom: none;
    }

    .navigation__icon {
        fill: #ccc;
        transition: 0.2s fill ease-in;
    }
    .navigation__icon-arrow {
        fill: #b5b5b5;
        transition: 0.2s fill ease-in;
    }

    &:hover {
        color: #1875f0;
        cursor: pointer;

        .navigation__icon, .navigation__icon-arrow {
            fill: #1875f0;
        }
    }
}

.navigation__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    margin-right: 1px;
    flex-shrink: 0;
}

.navigation__item-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
}

.navigation__item-arrow {
    margin-left: auto;
    padding-right: 20px;
}




